@font-face {
  font-family: 'NanumHaNaSonGeurSsi';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHaNaSonGeurSsi/NanumHaNaSonGeurSsi.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHaNaSonGeurSsi/NanumHaNaSonGeurSsi.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHaNaSonGeurSsi/NanumHaNaSonGeurSsi.ttf') format('truetype');
}